/* 전체 카드 컨테이너 */
.cardContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  width: 370px;
}

.cardContainer:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* 이미지 영역 */
.imageWrapper {
  position: relative;
  width: 370px;
  height: 360px;
  overflow: hidden;
}

/* 와인 이미지 */
.wineImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 넘치는 부분 자르고 꽉 채움. */
  object-position: center; /* 이미지가 중앙에 오도록 맞춤. */
}

/* 정보 영역 */
.infoContent {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* 와인 이름 */
.wineName {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-gray-800);
  margin: 0;

  /* 2줄 말줄임표 설정 */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 딱 2줄까지만 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 별점 영역 */
.ratingRow {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* 최신 후기 */
.reviewLabel {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-gray-800);
  margin-bottom: 6px;
}

/* 최신 후기 내용 */
.reviewText {
  font-size: 14px;
  color: var(--color-gray-400);
  line-height: 1.5;
  margin: 0;

  /* 줄 수 제한 */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 딱 2줄만 보여줌 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* 끝에 ... 자동 생성 */

  /* 줄바꿈 설정 */
  word-break: break-all; /* 영문/한글 상관없이 줄 끝에서 바로 다음 줄로 */
}
