/* 검색창, 그리드를 감싸는 컨테이너 */
.container {
  max-width: 800px; /* 그리드와 똑같은 너비 설정 */
  margin: 0 auto;
  padding-top: 64px;
}

/* 검색바 하단 여백 */
.searchSection {
  margin-bottom: 64px;
  width: 100%; /* 부모 꽉 채우기 */
}

/* 그리드 영역 */
.listSection {
  width: 100%;
}

.loading {
  text-align: center;
  padding: 100px 0;
}
