
.container {
  display: flex;
  align-items: center;
  font-family: 'Noto Sans KR', sans-serif;
}

/* 별 찌그러짐 방지 */
.starWrapper {
  position: relative;
  display: inline-block;
  flex-shrink: 0; 
}

.starIcon {
  display: block;
  width: 100%;
  height: 100%;
}

/* 별 half로 깎기 */
.halfStarWrapper,
.halfStarOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; /* 시각적으로 필요시 45%로 조절 가능 */
  height: 100%;
  overflow: hidden; /* 영역 밖 숨김 */
  pointer-events: none; /* 클릭 이벤트 통과 */
}


.halfStarWrapper img,
.halfStarOverlay img {
  width: auto;
  height: 100%; 
  max-width: none; /* 부모가 작아져도 가로폭 유지 */
}

/* 와인 상세페이지 상단  */
.detail .starWrapper { width: 28px; height: 28px; }
.detail.displayOnly { gap: 8px; }
.detail .scoreText { font-size: 16px; } 
.detail .countText { font-size: 16px; } 

/*  와인 목록 페이지 / 리뷰 목록   */
.list .starWrapper { width: 24px; height: 24px;  }
.list.displayOnly { gap: 14px; }
.list .scoreText { font-size: 16px; } 
.list .countText { font-size: 14px; } /* 와인목록 페이지 텍스트 크기 */

/* 와인목록 페이지 그래프 쪽 */
.graph .starWrapper { width: 28px; height: 28px;}
.graph.displayOnly { gap: 10px; }
.graph .scoreText { font-size: 28px; } /* 별 크기에 맞춤 */
.graph .countText { font-size: 16px; }

/* 리뷰 남기기 모달  */
.modal .starWrapper { width: 28px; height: 28px; }
.modal.displayOnly { gap: 8px; }
.modal .scoreText { font-size: 28px; } /* 별 크기에 맞춤 */
.modal .countText { font-size: 16px; }

/* 내 프로필 페이지  */
.profile .starWrapper { width: 20px; height: 20px;}
.profile.displayOnly { gap: 6px; }
.profile .scoreText { font-size: 20px; } 
.profile .countText { font-size: 14px; }


/* 태블릿 반응형 (1023px 이하) */
@media (max-width: 1080px) {
  /* 와인 상세 상단 */
  .detail .starWrapper { width: 20px; height: 20px; }
}

/* 모바일 반응형 */
@media (max-width: 767px) {
  .detail .starWrapper { width: 16px; height: 16px;  }
  .list .starWrapper { width: 20px; height: 20px; }
  .modal .starWrapper { width: 20px; height: 20px; }
}


/* Interactive */
.interactive .starWrapper {
  transition: transform 0.1s ease-in-out;
}

.interactive .starWrapper:hover {
  transform: scale(1.1); 
}

/* 클릭 영역 (투명 박스) */
.halfArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  cursor: pointer;
  z-index: 10;
}

.halfAreaRight {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  cursor: pointer;
  z-index: 10;
}


/* Display only */
.starsGroup {
  display: flex;
}

/* 텍스트 공통 스타일 */
.ratingInfo {
  display: flex;
  align-items: baseline;
  gap: 14px;
}

.scoreText {
  color: var(--color-gray-800);
  font-weight: 590; 
}

.countText {
  color: var(--color-gray-400);
  font-weight: 400; 
}

.maxScore {
  color: var(--color-gray-300);
  font-weight: 700;
}