.form {
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.origin {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 8px;
}

.field input {
  height: 48px;
  width: 100%;
  padding: 12px 20px 12px 16px;
}

.typeList {
  display: flex;
  gap: 12px;
}

.modalContent {
  min-height: 500px;
  margin-bottom: 4px;
}

.topErrorMessage {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--color-error-icon);
}

label {
  color: var(--color-gray-700);
  line-height: 20px;
}

.labelWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 767px) {
  .modalContent {
    margin: 32px 24px 48px 24px;
  }
  .imageWrapper {
    padding-top: -8px;
    flex-direction: column;
    align-items: flex-start;
  }
}
