/* 필터 영역과 필터 제목을 감싸는 컨테이너 */
.filterContainer {
  display: flex;
  flex-direction: column;
  gap: 40px; /* 각 필터 그룹 사이의 간격 */
  position: relative;
}

/* 필터 영역 */
.filterSection {
  display: flex;
  flex-direction: column;
  gap: 20px; /* 제목과 필터 본문 사이의 간격 */

  padding-bottom: 32px; /* 선과 내용 사이의 간격 */
  border-bottom: 1px solid var(--color-gray-100);
}

/* 평점 영역은 선이 필요 없으므로 제거 */
.filterSection:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

/* 필터 제목 */
.filterTitle {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-gray-800);
  margin: 0;
}
