.profile {
  display: flex;
  align-items: center;
}
.profileInfo {
  display: flex;
  flex-direction: column;
}
.profileIcon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
}
.name {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -2%;
}
.time {
  font-size: 14px;
  color: #888;
  letter-spacing: -2%;
}