.button {
  display: flex;
  height: 50px;
  width: 110px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  border-radius: 9999px;
  font-size: 16px;
}

.cancel {
  border: 1px solid #a3a3a3;
  color: #31302f;
}

.danger {
  background: #1a1918;
  color: #f2f2f2;
}

.primary {
  background: #1a1918;
  color: #f2f2f2;
}
