.socialL {
  display: flex;
  width: 400px;
  height: 52px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 40px;
  border: 1px solid #a3a3a3;
  background: #fff;
}

.textL {
  color: #31302f;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.3px;
}

.socialS {
  display: flex;
  width: 303px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 40px;
  border: 1px solid #a3a3a3;
  background: #fff;
}

.textS {
  color: #31302f;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.3px;
}
