.type {
  padding: 12px 18px;
  border-radius: 9999px;
  border: 1px solid var(--color-gray-200);
  color: var(--color-gray-800);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.type input {
  display: none;
}

.typeWrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 12px;
  max-width: 768px;
}

.type {
  padding: 8px 16px 8px 8px;
  width: fit-content; /* 버튼이 너무 길어지지 않게 설정 */
}

.type.active {
  background-color: var(--color-primary-red);
  color: var(--color-primary-red-100);
}

/* 태블릿 및 모바일 */
@media (max-width: 1080px) {
  .typeWrap {
    flex-direction: row; /* 가로 정렬로 변경 */
    flex-wrap: wrap; /* 화면이 아주 좁아지면 다음 줄로 넘어가게 */
    gap: 8px;
  }
}
